/*

Ocean Theme

http://www.templatemo.com/tm-484-ocean

-----------------------------*/

html {
	background-image: url(../img/ocean-bg.jpg) ;
	-webkit-background-size: cover;
 	-moz-background-size: cover;
 	-o-background-size: cover;
 	background-size: 100% 100%;
	width: 100%;
  	height: 100%;
}

body {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 19px;
	font-weight: 300;
}
a { color: #81b4eb;  }
li,a {color: white;}
a, button { transition: all 0.3s ease; }
a:hover,
a:focus {
	text-decoration: none;
	outline: none;
}
a.active {
	color: #0275d8;
}

/* navbar */
.navbar{
  /* clear:both;
  overflow:auto; */
  background-color: #6DAFFE;
  padding:.2rem .6rem;
  line-height: 1;
}

nav{float:right;}

.logo img{float:left;}

ul li{
	color: #7fb8f1;
 	display: inline-block;
	padding:25px;
 	font-size:40px;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

ul li:hover{
  color: black;

}

/* allows the video on the resources page to scale appropriately */
video {
  width: 100%;
  height: auto;
}

/* 1. Intro
--------------------*/
.tm-section-intro {
	/* background-image: url(../img/ocean-bg.jpg);
	background-attachment: fixed;
	background-position: center top;
	background-repeat: no-repeat;
	background-size: 100% 800px;
	color: white; */
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	text-align: center;
	height: 600px;
}

.tm-wrapper-center {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

/* IE bug fix */
.tm-wrapper-center > * {
	-ms-flex: 0 1 auto;
		-webkit-flex: 0 1 auto;
	        flex: 0 1 auto;
}

.tm-section-intro-title {
	font-size: 4.5rem;
    margin-bottom: 3.5rem;
}

.tm-section-intro-text {
	font-size: 2rem;
	margin-bottom: 4rem;
	width: 100%;
}

.tm-btn-white-big {
    font-size: 2.4rem;
    color: #a1c7f1;
    background-color: white;
    padding: 0.75rem 2.5rem;
    border-radius: 0.5rem;
    border-color: transparent;
}

.tm-btn-white-big:hover,
.tm-btn-white-big:focus {
	color: white;
    background-color: #A2D1FF;
}

/* 1. Intro
-----------------*/
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	/* IE10+ CSS styles go here */
	.tm-section-intro {	background-attachment: scroll; }
}

@media (max-width: 1900px) {
	.tm-section-intro {	background-size: 1900px 800px; }
}

@media (max-height: 800px) {
	.tm-section-intro {
		height: 100vh;
		min-height: 480px;
	}
}

@media (max-width: 480px) {
	.tm-section-intro-title {
	    font-size: 3.5rem;
	    margin-bottom: 1.5rem;
	}

	.tm-section-intro-text {
		font-size: 1.5rem;
		margin-bottom: 2rem;
	}

	.tm-btn-white-big {
		font-size: 1.6rem;
		padding: 0.5rem 1.5rem;
	}
}


/* 4. icon and text 4 boxes
----------------------------*/
.tm-section {
	padding-top: 6rem;
	padding-bottom: 6rem;
}

.tm-blue-bg-row { background-color: #b9d6f4; }

.tm-section-title {
	font-size: 2.1rem;
	margin-bottom: 1.8rem;
}

.tm-section-subtitle {
	font-size: 1.4rem;
	line-height: 1.6;
	max-width: 700px;
	margin: 0 auto 5rem;
}

.tm-icon-text-box {
	background-color: #d3e6f8;
	border: 1px solid white;
	padding: 3rem;
	/* max-width: 400px; */
}

.tm-icon-text-box-video {
	background-color: #d3e6f8;
	border: 1px solid white;
	padding: 3rem;
	max-width: 750px;
}

.tm-icon-text-box > .fa {
	color: #81b4eb;
	margin-bottom: 2rem;
	width: 100%;
	text-align: center; /*http://stackoverflow.com/questions/19162889/how-to-center-font-awesome-icons-horizontally*/
}

.tm-icon-text-boxes-container {
    max-width: 1760px;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
}

.tm-icon-text-box-title { margin-bottom: 1.4rem; text-align: center;}

.tm-icon-text-box-description {
	line-height: 1.8;
	margin-bottom: 0;
}

/* 4. icon and text 4 boxes
----------------------------*/
@media (max-width: 1199px) {
	.tm-icon-text-box {	margin: 0 auto 30px; }
}

@media (max-width: 1199px) and (min-width: 992px) {
	.tm-icon-text-box {	padding: 10%; }
}

@media (max-width: 991px) {
	.tm-icon-text-boxes-container { max-width: 800px; }
	.tm-section {
		padding-top: 5%;
    	padding-bottom: 4%;
	}

	.tm-section-title {	margin-bottom: 1rem; }

	.tm-section-subtitle { margin-bottom: 2rem;	}
}

@media (max-width: 767px) {
	.tm-section {
		padding-top: 10%;
    	padding-bottom: 8%;
	}
}
