<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE web-app PUBLIC
 "-//Oracle Corporation//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    <servlet>
        <servlet-name>machines</servlet-name>
        <servlet-class>myapp.Machines</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>email</servlet-name>
        <servlet-class>myapp.EmailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>machines</servlet-name>
        <url-pattern>/machines</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>email</servlet-name>
        <url-pattern>/email</url-pattern>
    </servlet-mapping>
     <static-files>
    <!-- prevent unwanted caching when accessing via the web preview server -->
    <include path="/**" expiration="0s" />
    </static-files>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
